@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
}

@font-face {
  font-family: "Kabel Light";
  src: url("/KabelLight.woff2") format("truetype");
  /* You can also include other font properties if needed */
}

@font-face {
  font-family: "Kabel Regular";
  src: url("/KabelRegular.woff2") format("truetype");
  /* You can also include other font properties if needed */
}

* {
  font-family: "Kabel Regular";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  background: rgb(14, 2, 44);
  background: -moz-linear-gradient(
    135deg,
    rgba(14, 2, 44, 1) 27%,
    rgba(33, 11, 87, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(14, 2, 44, 1) 27%,
    rgba(33, 11, 87, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(14, 2, 44, 1) 27%,
    rgba(33, 11, 87, 1) 100%
  );
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.form-element {
  width: 100%;
  background: transparent;
  border: thin solid hsl(0, 0%, 80%);
  border-radius: 3px;
  height: 55px;
  color: #fff;
  padding: 0.7rem;
  font-size: 1.2rem;
}

.quick-select {
  border-radius: 3px;
  border: thin solid #fff;
  padding: 1rem;
  font-size: 1.3rem;
  width: 27%;
  text-align: center;
  background: transparent;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.money-1:hover {
  background-color: #9b9b9b;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-1:hover .money-symbol,
.money-5:hover .money-symbol,
.money-10:hover .money-symbol,
.money-20:hover .money-symbol,
.money-50:hover .money-symbol,
.money-100:hover .money-symbol,
.money-500:hover .money-symbol {
  color: #2b2b2b !important;
  transition: all 0.3s;
}

.money-5:hover {
  background-color: #f7ddcb;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-10:hover {
  background-color: #b5e4ee;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-20:hover {
  background-color: #ecf1db;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-50:hover {
  background-color: #b69ecf;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-100:hover {
  background-color: #ede7c2;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-500:hover {
  background-color: #f9cd70;
  color: #2b2b2b;
  transition: all 0.3s;
}

.money-reset:hover {
  background-color: #800d0d;
  transition: all 0.3s;
}
.text-blue {
  color: #4f46e5;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0rem 0.2rem;
  border-radius: 3px;
  margin-left: 0.2rem;
}

.btn {
  width: 100%;
  background: #4f46e5;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

.btn:hover {
  background: #5d55e9;
  transition: all 0.3s;
}

.btn-red {
  background: #940404;
}
.btn-red:hover {
  background: #aa0909;
  transition: all 0.3s;
}

.btn-green {
  background: #057423;
}

.btn-green:hover {
  background: #057423;
  transition: all 0.3s;
}

.btn-yellow {
  background: #b7b92c;
}

.btn-yellow:hover {
  background: #b7b92c;
  transition: all 0.3s;
}

.header {
  width: 100%;
  padding: 1.3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper h1 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Kabel Light";
}

.balance-container {
  width: 100%;
  height: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance-tiny-container {
  width: 100%;
  height: 75px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.balance-tiny-container .down {
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.background-circle {
  position: absolute;

  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.14) 2%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.14) 2%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.14) 2%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 360px;
  height: 360px;
  border-radius: 300rem;
  z-index: 0;
}

.down {
  font-size: 2.8rem;
  position: relative;
  padding-bottom: 2.6rem;
}

.money-symbol {
  transform: rotate(180deg);
  display: inline-block;
  height: 95%;
  font-family: Arial, sans-serif;
}

.navigation {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1 1 auto;
  position: fixed;
  top: 50%;
  right: -45px;
  transition: all 0.3s;
  z-index: 999;
}

.navigation.open {
  right: 10px;
  transition: all 0.3s;
}

.navigation-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.navigation-container .row {
  display: flex;
  width: 100%;
}

.navigation-container .row a {
  background-color: rgba(255, 255, 255, 0.9);
  color: #2b2b2b !important;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}

.bill-card {
  border: thin solid #fff;
  border-radius: 6px;
  font-size: 1.2rem;
  width: 45%;
  padding: 0.7rem;
  position: relative;
  overflow: hidden;
  background: rgba(58, 5, 5, 0.7);
  transition: all 0.5s;
}

.bill-card.paid {
  background: rgba(1, 54, 22, 0.7);
  transition: all 0.5s;
}

.bill-card .error {
  background-color: #800d0d;
  width: 95%;
  display: block;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  transition: top 0.5s ease-in-out;
  height: 100%;
  z-index: 999;
  align-items: center;
  display: flex;
}

.bill-card .error.hidden {
  top: -100%;
  transition: top 0.5s ease-in-out;
}

.bill-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.bill-container .title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bill-container .amount {
  font-size: 3rem;
}

.bill-container .description {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  height: 50px;
  align-items: center;
}

.property-card {
  border: thin solid #fff;
  border-radius: 6px;
  font-size: 1.2rem;
  width: 45%;
  padding: 0.7rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.property-card .error {
  background-color: #800d0d;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  transition: top 0.5s ease-in-out;
  height: 100%;
  z-index: 999;
  align-items: center;
  display: flex;
}

.property-card .error.hidden {
  top: -100%;
  transition: top 0.5s ease-in-out;
}

.property-card.buy-request{
  background-color: #3a953a;
}

.property-card.sell-request{
  background-color: #b9b710;
}

.property-card .requested-amount{
  background-color: #3a953a;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.property-card .mortgage-approve{
  position: fixed;
  z-index: 9999;
  width:100%;
  height: 100%;
  backdrop-filter: blur(6px);
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.property-card .mortgage-approve  .mortgage-contanier{
  background-color: #4f46e5;
  border-radius: 7px;
  border: thin solid #fff;
  padding: 1rem 2rem;
  width:90%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  gap:.3rem;
}
.property-card .mortgage-approve  .mortgage-contanier .amount{
  font-size:3.5rem;
}

.mortgaged .mortgage-remove{
  position: fixed;
  z-index: 9999;
  width:100%;
  height: 100%;
  backdrop-filter: blur(6px);
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.mortgaged .mortgage-remove  .mortgage-contanier{
  background-color: #a39f19;
  border-radius: 7px;
  border: thin solid #fff;
  padding: 1rem 2rem;
  width:90%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  gap:.3rem;
}

.mortgaged .mortgage-remove  .mortgage-contanier .amount{
  font-size:3.5rem;
}

.mortgage-contanier .button-container .btn{
  width:45%;
}


.property-card .header, .mortgaged .header {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0;
  margin-bottom: 0.3rem;
  border-radius: 3px;
  background: rgb(153, 153, 153);
}

.property-card .mortgaged{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  top: 0;
  left:0;
  background: #a10909;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:1rem;
}

.property-card .to-sell{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap:.5rem;
}

.property-card .to-sell span{
  font-size:.9rem;
}

.property-card .to-sell .header .name{
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 2rem;
}
.property-card .to-sell .header .type{
  font-size: 0.8rem;
}

.property-card .mortgaged .header .name{
  text-transform: uppercase;
}

.property-card .mortgaged .amount{
  font-size: 2rem;
}

.property-card .button-container{
  z-index: 2;
}

.property-card.kadikoy .header .name,
.property-card.sirkeci .header .name,
.property-card.haydarpasa .header .name,
.property-card.kabatas .header .name,
.mortgaged.kadikoy .header .name,
.mortgaged.sirkeci .header .name,
.mortgaged.haydarpasa .header .name,
.mortgaged.kabatas .header .name {
  font-size: 1.2rem;
}

.property-container, .mortgaged {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.property-container .type, .mortgaged .type {
  font-size: 0.8rem;
}

.property-container .rent-text, .mortgaged .rent-text{
  font-size: 0.9rem;
}

.property-container .name, .mortgaged .name {
  font-size: 2rem;
  text-transform: uppercase;
}

.property-container .amount, .mortgaged .amount {
  font-size: 1.7rem;
}

.property-card.blue .header, .mortgaged.blue .mortgage-remove .header {
  background: rgb(20, 2, 126);
  transition: all 0.5s;
}

.property-card.green .header, .mortgaged.green .mortgage-remove .header {
  background: rgb(15, 116, 6);
  transition: all 0.5s;
}


.property-card .mortgaged .header{
  background: transparent;
  text-align: center;
}

.property-card.blue .mortgage-remove .header {
  background: rgb(20, 2, 126);
  transition: all 0.5s;
}

.property-card.green .mortgage-remove .header {
  background: rgb(15, 116, 6);
  transition: all 0.5s;
}

.fphwbx {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: none !important;
  box-shadow: 2px 2px 12px 0px rgba(255, 255, 255, 0.3) !important;
}

.fphwbx:focus,
.fphwbx:hover,
.fphwbx:active {
  color: #2b2b2b !important;
  box-shadow: 2px 2px 12px 0px rgba(255, 255, 255, 0.5) !important;
}

.ijSoPp:is(:hover, :focus, :active) > .sc-gKsecS,
.ibpUDM:is(:hover, :focus, :active) > .sc-gKsecS {
  background-color: #2b2b2b !important;
}

.jPJcGE li {
  overflow: hidden;
  border-radius: 10rem;
}

.menu-icons {
  height: 55%;
}

.menu-icons path {
  color: #2b2b2b !important;
}
